<div class="top-container float-style">
    <a href="http://localhost:4200/">NFT</a>
    <button class="btn btn-lg fab fa-pagelines " type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">

    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="http://localhost:4200/profile">Perfil</a>
        <a class="dropdown-item" href="http://localhost:4200/configuration">Configuración</a>
    </div>
</div>
<router-outlet></router-outlet>