<div class="card m-1">
    <div class="card-body">
        <h1>{{groupTitle}}</h1>
        <ng-container *ngIf="!elements.length" >
            <div class="spinner-border text-info" role="status">
            </div>
        </ng-container>
        <ng-container *ngIf="type === 'sensors';else switches">
            <app-sensor *ngFor="let element of elements" [sensor]="element"></app-sensor>
        </ng-container>
        <ng-template #switches>
            <app-switch *ngFor="let element of elements" [switch]="element" [modoManual]="modoManual"></app-switch>
        </ng-template>
    </div>
</div>